extends layout

block content
  h1= title
  p This is the new change to the index
  button(type="button", class="btn btn-secondary" onclick="double()") I am a button
  div(id="double") Up the amount
  a#https://s24wb56vaughn.onrender.com/pizza
  script.
    value = 0;
    power = 1;
    function double(){
      value = value + 1;
      power = power * 2;
      document.getElementById("double").innerHTML = "Two to the power " + value + " is " + power
    }

