extends layout

block content
  h1= title
  - var image_names = ["bbqpizza.jpg", "cbrpizza.jpg", "cheesepizza.jpg", "peppizza.jpg", "supremepizza.jpg"]
  - for(let i=0; i < 3; i++){
      - var value = Math.floor(Math.random()*5)
      - var imageSrc = image_names[value]
        img(src="/images/" + imageSrc, alt="Image of pizza",height=300, width=300)
  - }